<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Contact</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class=" nav-item nav-link" routerLink="add">Add Form</a>
      <a class=" nav-item nav-link" routerLink="list">List </a>
      <a class=" nav-item nav-link" routerLink="update">Update </a>
    </div>
  </div>
</nav>






<div class="container">
  <router-outlet></router-outlet>

</div>